name: ci
permissions:
  contents: read
on:
  pull_request:
    branches: [main]
jobs:
  containers:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - name: docker build podinfo
        run: |
          docker image build -t podinfo:latest templates/podinfo-example/content/
      - name: docker build node-service
        run: |
          docker image build -t node-service:latest templates/node-service/content/
      - name: docker build backstage
        run: |
          mkdir credentials && touch credentials/github-app-backstage-humanitec-credentials.yaml
          docker image build -t backstage:latest .

  validate-score:
    runs-on: ubuntu-latest
    env:
      HUMCTL_VERSION: '0.23.1'
    steps:
      - name: checkout code
        uses: actions/checkout@v3
      - uses: humanitec/setup-cli-action@v1
        with:
          version: ${{ env.HUMCTL_VERSION }}
      - name: humctl score validate - backstage
        run: |
          humctl score validate --local --strict \
            score.yaml
      - name: humctl score validate - node-service
        run: |
          score_file=templates/node-service/content/score.yaml
          # Replace template string with actual values, sadly no better way yet
          # https://github.com/backstage/backstage/issues/13668
          sed -i -e 's/${{ '${{ values.name | dump }}' }}/test-workload/g' "$score_file"
          humctl score validate --local --strict \
            "$score_file"
      - name: humctl score validate - podinfo
        run: |
          score_file=templates/podinfo-example/content/score.yaml
          # Replace template string with actual values
          sed -i -e 's/${{ '${{ values.name | dump }}' }}/test-workload/g' "$score_file"
          humctl score validate --local --strict \
            "$score_file"
